In [6]:
valor_1 = 1 #integer
valor_2 = 2.5 #float
valor_3 = 'Campos dos Goytacazes' #string
valor_4 = True #boolean

In [7]:
print('A variável é de valor', type(valor_1))

print('A varioável é de valor {}' .format(type(valor_1)))

A variável é de valor <class 'int'>
A varioável é de valor <class 'int'>

# Casting

- int
- str

# Operadores

- Soma
- Subtração
- Multiplicação
- Divisão
- Exponenciação
- Raiz

In [8]:
valor = 3
calcularraiz = valor**(2/1)

print(calcularraiz)

9.0

 - Igual ==
 - Diferença !=
 - Maior >
 - Menor <

In [9]:
numero_1 = 10
numero_2 = 20

numero_1 == numero_2

False

In [10]:
texto_1 = 'Campos'
texto_2 = 'Camposs'

print(texto_1 == texto_2)

texto_3 = 'A'
texto_4 = 'a'

print(texto_3 == texto_4)

False
False

In [11]:
palavra = 'caixa'

palavra * 2

'caixacaixa'

Instruções 

- if
- else
- elseif
- elif

In [12]:
a = str(input('Digite a primeira letra: '))
b = str(input('Digite a segunda letra: '))

if (a == b):
    print('{0} é igual a {1}.' .format(a, b))
else:
    print('{0} não é igual a {1}.' .format(a, b))

40 é igual a 40.

In [13]:
numero_meses = int(input('Insira o número de meses:'))
if (numero_meses <= 10):
    print('Menor ou igual a 10')
elif (numero_meses <= 11):
    print('Menor ou igual a 11')
elif (numero_meses <= 12):
    print('Menor ou igual a 12')
else:
    print('Número de meses inválido!')

ValueError: invalid literal for int() with base 10: ''

Operadores lógicos

- and
- or
- not
- is
- is not
- in (Está contido)
- not in (Não está contido)

In [ ]:
lista_de_compras = ['Arroz', 'Ovo']

checar = str(input('Digite o item que você quer chegar se está na lista'))

if checar in lista_de_compras:
    print('Sim, o item', checar, 'está na lista de compras.')
else:
    print('Não, o item', checar, 'não está na lista de compras.')

In [ ]:
x = 1
y = 3

x, y = y, x

print(x, y)

3 1

variavel = <valor1> if (true) else <valor2>

Escreva a mensagem 'Número: x', onde o número x varia de 1 a 10.

In [ ]:
numero = 1

print('Número: ' + str(numero))

numero += 1

print('Número: ' + str(numero))
numero += 1

print('Número: ' + str(numero))
numero += 1

print('Número: ' + str(numero))
numero += 1

print('Número: ' + str(numero))
numero += 1

print('Número: ' + str(numero))
numero += 1

print('Número: ' + str(numero))
numero += 1

print('Número: ' + str(numero))
numero += 1

print('Número: ' + str(numero))

numero += 1

print('Número: ' + str(numero))

Número: 1
Número: 2
Número: 3
Número: 4
Número: 5
Número: 6
Número: 7
Número: 8
Número: 9
Número: 10

Foi apresentado o loop e o while

In [ ]:
numero = 1
while (numero <= 10):
    print('Número: ' + str(numero))
    numero += 1

Número: 1
Número: 2
Número: 3
Número: 4
Número: 5
Número: 6
Número: 7
Número: 8
Número: 9
Número: 10

Foi apresentado o for

In [ ]:
texto = "Paralelepípedo"
type(texto)

In [ ]:
for letra in texto:
    print(letra)

Foi apresentado o range
range ([start], stop, [step])

In [ ]:
for n in range(1, 11, 1):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for a in range(1, 11):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for aa in lista:
    print(aa)

1
2
3
4
5
6
7
8
9
10

In [ ]:
numeros = range(5) #Começa de 0 e vai até 4
list(numeros)

[0, 1, 2, 3, 4]

In [ ]:
lista_de_compras = ['Carne', 'Leite', 'Arroz']
for compras in lista_de_compras:
    print(compras)

carne
leite
arroz

- Listas
- Pilhas
- Tuplas
- Dicionários
- Set
- Árvore

In [ ]:
lista = [1, 2, 3, 4.0, 'a', True]
type(lista)

[1, 2, 3, 4.0, 'a', True]

In [ ]:
lista

[1, 2, 3, 4.0, 'a', True]

In [ ]:
lista[0]

1

In [ ]:
len(lista)

6

In [ ]:
lista[-1]

True

In [ ]:
listacomlistasdentro = [['Coluna 1', 'Coluna 2', 'Coluna 3'], [1, 2, 3]]
listacomlistasdentro[0][0]

list

In [ ]:
listanumber = [2,3,4]
examplelista = [1] + listanumber + [5,6]
examplelista

[1, 2, 3, 4, 5, 6]

In [ ]:
examplelista.append(10)
examplelista.pop()
examplelista

[1, 2, 3, 4, 5]

In [ ]:
fatiandolista = list('Trabalhando com lista')
fatiandolista[0:8]
fatiandolista[:]
fatiandolista[::2]

['T', 'a', 'a', 'h', 'n', 'o', 'c', 'm', 'l', 's', 'a']

In [ ]:
listaaa = ['Eu me chamo Victor']
for a in listaaa:
    print(a)

Eu me chamo Victor

In [ ]:
listab = [['Oiii, tudo bem?'], ['Eae, tudo bem?'], ['Opa, tudo bem?']]

del(listab[0:1])
listab

[['Eae, tudo bem?'], ['Opa, tudo bem?']]

In [ ]:
listaaula = [1, 3, 5, 7, 9]
listaaula.reverse()
listaaula

[9, 7, 5, 3, 1]

In [ ]:
listaaula.sort()
listaaula

[1, 3, 5, 7, 9]

In [ ]:
listatexto = ['Feijão', 'Arroz', 'Feijão', 'Carne']
listatexto.count('Feijão')

2

In [ ]:
listatexto.index('Arroz')

1

In [ ]:
tuplaaaa = tuple('Coxinha')
tuplaaaa

('C', 'o', 'x', 'i', 'n', 'h', 'a')

In [ ]:
items = 1, 3.0, True
items = tuple(reversed('3.0'))
items

('0', '.', '3')

In [ ]:
range(10)

range(0, 10)

In [ ]:
listatexto.index('Arroz')

In [ ]:
for item in listatexto:
        if item == 'Feijão':
                print('O feijão está na lista!')

O feijão está na lista!
O feijão está na lista!

In [ ]:
if 'Arroz' in listatexto: print ('O arroz está na lista!')

O arroz está na lista!

In [ ]:
if 'Macarrão' in listatexto: print ('O macarrão está na lista!')
else: print('Macarrão não está na lista!')

Macarrão não está na lista!

In [ ]:
if 'Couve' not in listatexto: print('Não há couve na lista!')

Não há couve na lista!

In [ ]:
texto = '''Tutorial para descer a linha do texto
assim funciona'''

texto

'Tutorial para descer a linha do texto\nassim funciona'

In [ ]:
texto.split("\n")

['Tutorial para descer a linha do texto', 'assim funciona']

In [ ]:
textoo = '''Tutorial para descer a linha do texto, 
assim funciona!'''
textoo.replace("\n", "")

'Tutorial para descer a linha do texto, assim funciona!'

In [ ]:
texto2 = '''Tutorial para descer a linha do texto
assim funciona'''

texto2.replace('Tutorial', 'Como fazer')

'Como fazer para descer a linha do texto\nassim funciona'

In [ ]:
texto = texto2.replace('\n', ' ')
texto

'Tutorial para descer a linha do texto assim funciona'

- Dicionários

São utilizados para armazenar dados no formato:

dicionario = {}

In [ ]:
dicionario = {}

In [ ]:
type(dicionario)

dict

In [ ]:
funcionarios = {}

In [ ]:
funcionarios['1'] = 'Astolfo'

In [ ]:
funcionarios

{'1': 'Astolfo'}

In [ ]:
funcionarios[2] = 'Amora'

In [ ]:
funcionarios

{'1': 'Astolfo', 2: 'Amora'}

In [ ]:
funcionarios[2]

'Amora'

In [ ]:
lista_telefonica = {}

lista_telefonica['Maria'] = '30301122'
lista_telefonica['Ana'] = '33547877'
lista_telefonica['Carlos'] = '33381245'
lista_telefonica['Fernando'] = '36458899'

In [ ]:
lista_telefonica

{'Maria': '30301122',
 'Ana': '33547877',
 'Carlos': '33381245',
 'Fernando': '36458899'}

In [ ]:
del(lista_telefonica['Carlos'])

In [ ]:
lista_telefonica

{'Maria': '30301122', 'Ana': '33547877', 'Fernando': '36458899'}

In [ ]:
funcionarios = {
    'Pedro': 1,
    'João': 2,
    'Osvaldo': 3,
    'Henrique': 4
}

In [ ]:
funcionarios

{'Pedro': 1, 'João': 2, 'Osvaldo': 3, 'Henrique': 4}

In [ ]:
funcionarios.keys()

dict_keys(['Pedro', 'João', 'Osvaldo', 'Henrique'])

In [ ]:
funcionarios['Pedro']

1

In [ ]:
lista_telefonica['Maria']

'30301122'

- Funções

É um bloco de código que é executado somente quando é chamado, onde podemos passar dados como parâmetros além da possibilidade de retornar dados

In [ ]:
def my_function ():
    print('Hello world!')

In [ ]:
my_function()

Hello world!

In [ ]:
def escrevernome (nome):
    print('Olá', nome + '!')

In [ ]:
nome = 'Victor'
print(escrevernome(nome))

Olá Victor!
None

In [ ]:
def formataNomeseRetornarvalor(nome, sobrenome):
    return nome +' '+ sobrenome

In [ ]:
nome = 'Pedro'
sobrenome = 'Gonçalves'

print(formataNomeseRetornarvalor(nome, sobrenome))

Pedro Gonçalves

In [ ]:
def soma(numero1, numero2):
    return numero1+numero2

In [ ]:
numero1 = 874
numero2 = 999

print(soma(numero1, numero2))

1873

In [ ]:
dicionarioexemplo1 = {}

dicionarioexemplo2 = dict()

# Parâmetros default

- Recebem valores no cabeçalho da função, ou seja, dentro do parêntesis

In [ ]:
def soma(x1=0, x2=0):
    return x1 + x2

In [ ]:
soma()

0

In [ ]:
def dados_pessoais(nome, sobrenome, idade=0):
    return nome, sobrenome, str(idade)

In [ ]:
dados_pessoais('Victor', 'Gonçalves')

('Victor', 'Gonçalves', '0')

In [ ]:
dados_pessoais('Victor', 'Gonçalves', 20)

('Victor', 'Gonçalves', '20')

# Posicionais x Nomeados

- Os posicionais a passagem de parâmetro é na ordem que foi definido no cabeçalho da função.

- Nomeado é usado para o nome do parâmetro;

- Obs: quando é usado o nomeado no parâmetro, tenho que usar o nomeado em todos os parâmetros.

In [ ]:
dados_pessoais(idade=20, nome='Victor', sobrenome='Gonçalves')

('Victor', 'Gonçalves', '20')

Exercício

In [ ]:
def dados_pessoais_novo(nome, sobrenome, idade=18):
    return nome, sobrenome, str(idade)

In [ ]:
dados_pessoais_novo('Pedro', 'Gonçalves')

('Pedro', 'Gonçalves', '18')

In [ ]:
dados_pessoais_novo(idade=20, nome='Pedro', sobrenome='Gonçalves')

('Pedro', 'Gonçalves', '20')

In [ ]:
dados_pessoais_novo('Pedro', 'Gonçalves', idade=20)

('Pedro', 'Gonçalves', '20')

Exercício calcular imposto

In [ ]:
def calcular_imposto(total):
    impostos = 0
    impostos += total*5 / 100

    return impostos

In [ ]:
calcular_imposto(100)

5.0

# args e kwards

In [ ]:
def calcular_imposto(*taxas):
    impostos = 0
    for taxa in taxas:
        impostos += taxa*5 /100

    return impostos

In [ ]:
calcular_imposto(100)

5.0

In [ ]:
def calcular_imposto(valor_bruto, **kwargs):
    impostos = 0
    print(kwargs)
    for taxa in kwargs:

        #print('imposto {} valor {}'.format(taxa, kwargs[taxa]))

        impostos += kwargs[taxa] * valor_bruto

    return impostos

In [ ]:
calcular_imposto(40, ir=0.01, icms=0.03, ipi=0.05)

{'ir': 0.01, 'icms': 0.03, 'ipi': 0.05}

3.6

In [17]:
altura = int(input('Insira sua altura')); largura = int(input('Insira sua largura'))
print(f"A sua tinta necessária é de {(altura * largura) / 2:.0f} litros de tinta.")

A sua tinta necessária é de 800 litros de tinta.

In [24]:
preco = float(input('Insira o preço do produto'))
print(f"O preço do produto com 5% de desconto é de {preco-(preco*0.05):.2f}.")

O preço do produto com 5% de desconto é de 95.00.

In [29]:
salario = float(input('Insira o salário'))
print(f"O novo salário com 15% de aumento é de {salario+(salario*0.15):.2f}.")

O novo salário com 15% de aumento é de 1150.00.

In [34]:
temperaturac = float(input('Insira sua temperatura em °C'))
print(f"A temperatura em °F é de {(temperaturac*9/5)+32:.0f} °F.")

A temperatura em °F é de 122 °F.

In [38]:
km = float(input('Insira quantos KM foram rodados'))
dias = int(input('Insira a quantidade de dia(s) em que o carro foi alugado'))
print(f"O preço do aluguel do carro foi de R$ {(km*0.15) + (dias*60):.2f}.")

O preço do aluguel do carro foi de R$ 67.50.

# Programação orientada a objetos

- A programação orientada a objetos (POO) é um paradigma de programação baseado no conceito de classes e objetos.

# Classes

- As classes são tipos de dados definidos pelo desenvolvedor que atuam como um modelo para objetos.

# Objeto

- Objetos são instâncias de uma classe. Objetos podem modelar entidades do mundo real (Carro, pessoa, usuário) ou entidades abstratas (Temperatura, umidade, medição, configuração).

# Atributos

- São definidos na classe e representam o estado de um objeto.

# Métodos

- São "funções" definidas dentro de uma classe que descreve os comportamentos de um objeto, que manipulam os atributos. Em python o primeiro parÂmetro dos métodos é sempre uma referência ao própio objeto.

# Testes

- A principal vantagem do teste de software é que ele melhora a qualidade do software. A qualidade do software é crucial.

Existem níveis diferentes de testes: Teste unitário, teste de integração, teste de sistema e teste de aceitação.

- Um dos frameworks de teste mais conhecido é o pytest.

Algumas das vantagens do pytest:

- Escalável com seu código;

- Versátil;

- Sintaxe simples de entender;

- Detecta os testes automaticamente;

- É open source e possui uma biblioteca vasta de plugins;

# TDD

- Significa desenvolvimento orientado por testes (Test Driven Development), e trata-se de uma prática de desenvolvimento de software onde a codigicação das funcionalidades começa a partir da escrita de teste unitários. Essa técnica foi criada por Kent Beck e é um dos pilares do XP (Extreme Programming).

# FIRST

- O FIRST se trada de uma técnica adotada por metodologias ágeis com o nome de "First test".